<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Welcome to Inventory Management System </h1>
        <nav>
            <ul>
                <li><a href="/addProduct">Add Product</a></li>
                <li><a href="/allTheProducts">Get All the Products</a></li>
                <li><a href="#">Get a Specific Product</a></li>
                <li><a href="#">Update a specific product</a></li>
                <li><a href="#">Delete a specific product</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>